.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 56px;
  justify-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.courseItem {
  position: relative; /* This allows absolute positioning within each item */
}

.imageLink {
  display: block;
  position: relative;
}

.photo {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.playIcon {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Align center of the icon with the center of the image */
  width: 150px; /* Adjust size accordingly */
  height: auto;
  opacity: 0.8; /* Optional: Adjust for better visibility */
  transition: opacity 0.3s ease; /* Smooth transition for hover effect */
}

.playIcon:hover {
  opacity: 1; /* Full opacity on hover */
}

.lectureTitle {
  margin-top: 10px;
  font-size: 18px;
  color: white;
  font-weight: bold;
}
